@charset "UTF_8";

/*
Aparelho em pé (portration)
*/

body{
    background: url(../imagens/cev-portrait.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}