@charset "UTF-";


@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&family=Heebo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit&family=Passion+One:wght@400;700;900&family=Sriracha&family=Young+Serif&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&family=Heebo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit&family=Passion+One:wght@400;700;900&family=Sriracha&family=Young+Serif&display=swap');

:root{
    --fonte2:'passion one', cursive;
    --fonte3:'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-width: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: var(--fonte1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 6vh;
}
header > p{
    padding-bottom: 50px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 2.2vh;
}
section > p{
    padding-bottom: 2em;
}
.normal{
    background-color: rgb(255, 255, 255);
    color: black;
    padding-left: 30px;
}
.imagem{
    background-color: rgb(47, 47, 47);
    color: white;
    padding-left: 30px;

    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.356);
    background-size: cover;
    background-attachment: fixed;
}
.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.611);
    border-radius: 10px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.401);
}
#img01{
    background-image: url(
        '../imagens/background001.jpg'
    );
    background-position: right center;
    
}
#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    margin: -30px;
    padding: 10px;
}
p{white-space: pre-wrap;

}